.wh {
  color: #fff;
}

.f_size_20 {
  font-size: 20px;
}

.m_auto {
  text-align: center;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #B91450;
}

.form_container {
  background-color: #fff;
  width: 1000px;
  border-radius: 5px;
  text-align: center;
  margin: 40px auto;
}

.form_container_coloumn {
  width: calc(100%/3);
  height: 100px;
  background-color: #fff;
  float: left;
}

label {
  color: #B91450;
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  border-radius: 5px;
  border: 1px solid #B91450;
  padding: 5px;
  text-align: center;
  color: #B91450;
}

input:focus {
  background-color: #B91450;
  border: 1px solid #000;
  color: #fff;
}

input:focus::placeholder {
  color: #fff;
}

select {
  border-radius: 5px;
  border: 1px solid #B91450;
  padding: 5px;
}

.btn {
  padding: 5px 15px;
  background-color: lightgrey;
  color: #B91450;
  border-radius: 5px;
  margin: 10px;
}

.btn:hover {
  color: #fff;
  background-color: grey;
}

.biglietto_container {
  width: 1000px;
  height: 150px;
  background-color: #fff;
  margin: auto;
}

.dett_h3 {
  font-size: 14px;
  margin-left: 20px;
}

.tabella_dettagli {
  width: calc(100% - 40px);
  height: 100px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin: 0 20px;
}

.fl_left {
  width: calc(100% / 7);
  height: 100%;
  float: left;
  padding: 0 10px;
}

.nome_pass {
  background-color: grey;
}
